html, body{
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
#ancorNav{
    width: 6em;
}
#wineCard .card {
    width: 16rem;
   
}
.card{
    display: flex;
    align-items: center;
}
.card img {
    height: 15rem;
    object-fit: contain;
    margin: 2em;
}
.card-body {
    flex-grow: 1;
}
.title-overflow{
    height: 3em;    
    overflow:hidden;   
    text-overflow:ellipsis;   
    white-space: wrap;     
    cursor: pointer;         
}
.expanded-text{
    height: auto;              
    white-space:normal;       
    }
    body{
        background: url(assets/IMG/grapes-1952035_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        color: rgb(199, 24, 8);
        font-size: 5em;
       font-style: italic;
    }
    footer a{
        text-decoration: none;
        color: white;
    }
   .card{
        box-shadow: 6px 2px 30px 0px #000000;
    }
    footer{
        flex-shrink: 0;
    }